header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background-color: white;
  height: 293px;
}

.header_menu {
  font-size: 18px;
  padding: 42px 0px 42px 0px;
}

.list {
  line-height: auto;
  display: flex;
  list-style: circle;
  gap: 30px;
  margin-left: 50px;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.list li:first-child {
  text-decoration: none;
  list-style: none;
}

.logo {
  width: 148px;
  height: 105px;
}

.address {
  /* max-width: 209px;
  height: 98px; */
  font-size: 18px;
  font-style: normal;
  font-weight: lighter;
  color: black;
  line-height: 25px;
  /* justify-self: end;
  margin: 95px 81px 100px 0px; */
  text-underline-offset: 4px;
}

#address_header {
  font-size: 18px;
  margin: 95px 81px 100px 0px;
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/ 0.6);
  z-index: 1;
}

.cover__title {
  line-height: 70%;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  z-index: 2;
  padding: 165px 50px 207px 50px;
}

.aligned-text {
  display: block;
}

.text_start {
  text-align: start;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 656px 50px 50px 50px;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
}

.cover__description-text {
  z-index: 2;
  color: white;
  /* padding: 12px 107px 12px 0; */
}

.letter-spacing-extended {
  word-spacing: 20px;
}

.bet-button {
  text-transform: uppercase;
  appearance: none;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 12px 30px;
  cursor: pointer;
  z-index: 2;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.lots__heading {
  width: 121px;
  height: 47px;
  font-size: 40px;
  text-align: left;
  margin-bottom: 27px;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  flex-direction: column;
}

.card-link {
  text-decoration: none;
  display: block;
}

.card {
  width: 334px;
  height: 596px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.card__title {
  margin: 48px 40px 0 48px;
  width: auto;
  height: auto;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;

  z-index: 2;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
}
.lots__look-more-link {
  text-decoration: underline;
  color: black;
  font-size: 20px;
  margin-left: 40px;
}
ЫЫ
#book_title {
  width: 254px;
  height: 110px;
}

#first-lots {
  width: 254px;
  height: 144px;
  margin: 0px 40px 48px 40px;
}

#sec-lots {
  width: 254px;
  height: 360px;
  margin: 0px 40px 48px 40px;
}

#three-lots {
  width: 254px;
  height: 264px;
  margin: 0px 40px 48px 40px;
}

.about-auc {
  display: flex;
  flex-direction: column;
  /* margin-top: 120px; */
  /* margin-bottom: 180px; */
  padding: 0 24px 180px;
}

.about-auc-header {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}
.logo-circle {
  display: flex;
  align-items: center; /* Выравниваем по вертикали по центру */
  justify-content: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 35px 0 0 47px;
}

.logo-circle img {
  /* padding: 82px 46px;
position: absolute;
/* display: flex; */
  display: flex; /* Превращаем контейнер в флексбокс */
  align-items: center; /* Выравниваем по вертикали по центру */
  justify-content: center; /* Выравниваем по горизонтали по центру */
  height: 114px;
  width: 148px;
}

.about-auc-header span {
  margin: 35px 0 0 50px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-auc p {
  width: 688px;
  height: 126px;
  margin-left: 350px;
  font-size: 20px;
  margin-bottom: 32px;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 82px;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-size: 18px;
}

.vertical-list li:nth-child(2),
.vertical-list li:nth-child(3) {
  text-decoration: underline;
}

#address_footer {
  margin-left: 50px;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 240px;
  height: 48px;
  margin-right: 50px;
}

.icons img {
  width: 48px;
  height: 48px;
}
