header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background-color: white;
  height: 293px;
}

.menu-шапка {
  font-size: 18px;
  padding: 42px 0px 42px 0px;
}

.список {
  line-height: auto;
  display: flex;
  list-style: circle;
  gap: 30px;
  margin-left: 50px;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.список li:first-child {
  text-decoration: none;
  list-style: none;
}

.логотип {
  width: 148px;
  height: 105px;
}

.адрес {
  font-size: 18px;
  font-style: normal;
  font-weight: lighter;
  color: black;
  line-height: 25px;
  text-underline-offset: 4px;
}

#адрес_шапка {
  font-size: 18px;
  margin: 95px 81px 100px 0px;
  justify-self: end;
}

.обложка {
  position: relative;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.покрытие {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.обложка__заголовок {
  line-height: 70%;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  z-index: 2;
  padding: 165px 50px 207px 50px;
}

.выравнивание-текста {
  display: block;
}

.текст_слева {
  text-align: start;
}

.текст_центр {
  text-align: center;
}

.текст_справа {
  text-align: right;
}

.обложка__описание {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 656px 50px 50px 50px;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
}

.обложка__описание-текст {
  z-index: 2;
  color: white;
}

.увеличенный-пробел {
  word-spacing: 20px;
}

.кнопка-ставки {
  text-transform: uppercase;
  appearance: none;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 12px 30px;
  cursor: pointer;
  z-index: 2;
}

.лоты {
  padding: 180px 24px 120px 24px;
}

.лоты__заголовок {
  width: 121px;
  height: 47px;
  font-size: 40px;
  text-align: left;
  margin-bottom: 27px;
  margin-left: 40px;
  text-transform: uppercase;
}

.лоты__список-карт {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.лоты__элемент {
  flex-direction: column;
}

.ссылка-карта {
  text-decoration: none;
  display: block;
}

.карта {
  width: 334px;
  height: 596px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.карта_фильм {
  background-image: url("/images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.карта_книга {
  background-image: url("/images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.карта_картина {
  background-image: url("/images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.карта__заголовок {
  margin: 48px 40px 0 48px;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}

.карта__текст {
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
}

.лоты__ещё {
  text-decoration: underline;
  color: black;
  font-size: 20px;
  margin-left: 40px;
}

#заголовок_книги {
  width: 254px;
  height: 110px;
}

#первый-лот {
  width: 254px;
  height: 144px;
  margin: 0px 40px 48px 40px;
}

#второй-лот {
  width: 254px;
  height: 360px;
  margin: 0px 40px 48px 40px;
}

#третий-лот {
  width: 254px;
  height: 264px;
  margin: 0px 40px 48px 40px;
}

.о-аукционе {
  display: flex;
  flex-direction: column;
  padding: 0 24px 180px;
}

.о-аукционе-заголовок {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.логотип-круг {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 35px 0 0 47px;
}

.логотип-круг img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 114px;
  width: 148px;
}

.о-аукционе__титул {
  margin: 35px 0 0 50px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.о-аукционе p {
  width: 688px;
  height: 126px;
  margin-left: 350px;
  font-size: 20px;
  margin-bottom: 32px;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 82px;
}

.вертикальный-список {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-size: 18px;
}

.вертикальный-список li:nth-child(2),
.вертикальный-список li:nth-child(3) {
  text-decoration: underline;
}

#адрес_подвал {
  margin-left: 50px;
}

.иконки {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 240px;
  height: 48px;
  margin-right: 50px;
}

.иконки img {
  width: 48px;
  height: 48px;
}
